body{
    font-family: Arial;
    background: #e9e6e3;
}

.perfil-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.perfil-box{
    background:white;
    padding:40px;
    width:400px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.perfil-box h1{
    margin-bottom:10px;
}

.perfil-box p{
    margin-bottom:20px;
}

.perfil-box form{
    display:flex;
    flex-direction:column;
}

.perfil-box input,
.perfil-box textarea{
    margin-bottom:15px;
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
}

.perfil-box textarea{
    height:100px;
    resize:none;
}

.perfil-box button{
    background:#5f6f65;
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
}

/* FOTO PERFIL */
.foto-area {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.preview {

    width: 160px;
    height: 160px;

    border-radius: 50%;

    object-fit: cover;

    border: 4px solid #5f6f65;

    background: #fff;

    margin-bottom: 10px;

}

